body {
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  box-shadow: var(--main-shadow);
}

.draggable {
  -webkit-app-region: drag;
}

.icon {
  width: 36px;
  height: 36px;
}

.charDiv {
  font-size: 10px;
}
